body {
  margin: 0;
  background-color: #DDCFBF;
  font-family: 'Gentium Plus', serif;
}

main{
  margin-bottom: 4rem;
  padding: 1rem;
}

footer{
  background-color: #22430D;
  color: white;
}
/* utility stylings */
.bg-primary {
  background-color: #F0890D;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.p1{
  padding: 1rem;
}

.p2{
  padding: 2rem;
}

.m1{
  margin: 1rem;
}

.m2{
  margin: 2rem;
}

.jumbo {
  display: flex;
  flex-direction: column-reverse;
}

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.card>h2{
  font-family: 'Proza Libre', sans-serif;
  text-align: center;
  font-size: 1rem;
  background-color: #DDCFBF;
  border-radius: 2rem;
  padding: 0.5rem 0.875rem;
}

.card>h3{
  border-bottom: 2px solid #F0890D;
  padding-bottom: 0.5rem;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0890D;
  color: white;
  font-size: 16pt;
  border: 0;
  padding: 0.875rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.btn:hover{
  background-color: #22430D;
}

.btn > img{
  margin-left: 0.5rem;
}

.hidden{
  display: none;
}

/* banner */
#top-banner {
  font-weight: bold;
  padding: 0.2rem 0rem;
}

/* navigation */
#top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.25rem 0.75rem;
}

.jumbo>div>img{
  width: 200px;
}

.nav-link > a {
  text-decoration: none;
  color: black;
  font-family: 'Proza Libre', sans-serif;
  /* font-weight: ; */
  font-size: 1.25rem;
  margin: 0rem 0.75rem;
}

.row{
  display: flex;
  flex-direction: row;
}

#nav-links{
  display: none;
}

#socials{
  display: none;
}

#dropdown-menu>#socials{
  display: flex;
}

#socials>a{
  height: 2rem;
  width: 2rem;
  background-color: #DDCFBF;
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 4rem;
}

#socials>a:hover{
  background-color: #F0890D;
}

#toggler{
  background-color: #DDCFBF; 
  padding: .25rem;
  border-radius: .25rem;
}

/* dropdown */
#dropdown-menu{
  background-color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

#dropdown-links>.nav-link{
  margin-bottom: 1rem;
}

/* grids */
.home-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.info-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.weather-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
/* hero stylings */
.banner-text {
  font-family: 'Proza Libre', sans-serif;
  font-size: 3rem;
}

.banner-sub-text {
  font-family: 'Proza Libre', sans-serif;
  color: #333333;
  margin-bottom: 2.5rem;
}

/* order section */
#orders>p{
  display: flex;
  align-items: center;
}

#orders>p>img{
  margin-right: 0.5rem;
  background-color: #DDCFBF;
  padding: 0.2rem;
}


/* fresh page */
#freshForm{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

label{
  font-weight: bold;
}

input, select, textarea{
  padding: 0.75rem 1rem;
  border: 2px solid #DDCFBF;
  border-radius: 2rem;
  margin: 0.75rem 0;
  text-align: center;
}

select{
  padding: 0.75rem;
}

#orderDetails{
  margin-top: 5rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details>p{
  background-color: #DDCFBF;
  padding: 0.125rem 1rem;
}

/* about us */
#contactForm{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contact-content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.display-text-1 {
  font-size: 2rem;
  color: #F0890D;
}

.display-text-2 {
  font-weight: bold;
}

#contact-box{
  padding: 3rem;
  background-color: #FFF;
  margin-bottom: 4rem;
}

#contact-info {
  margin-bottom: 2rem;
}

.divider{
  border: 1px solid #22430D;
  width: 90%;
}

.mt {
  margin-top: 4rem;
}

#contact-left{
  background-color: #FFF;
  padding: 2rem;
}

a{
  text-decoration: none;
  color: #FFF;
}
.resourceinfo{
  color: #000;
  font-size: 18px;
  text-decoration: underline;
}
