@media screen and (min-width: 429px) and (max-width: 1023px){
  /* navigation */
  /* navigation */
  #toggler{
    display: none;
  }

  #nav-links{
    display: block;
  }

  #socials{
    display: flex;
  }

  /* grids */
  .home-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }

  .info-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }

  .weather-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }

  .about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .jumbo{
    display: flex;
    flex-direction: row;
  }
}