@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@700&family=Nunito:wght@600&display=swap');

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
}

a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #F5C500;
  text-decoration: none;
}

.nav-link:hover{
  background-color: #46380055;
  font-weight: bold;
}

.active-link {
  background-color: #F5C500;
  font-weight: bold;
}

.divider{
  border: 2px solid #463800;
  margin-top: 2rem;
}

.site-name {
  grid-area: site-name;
}

.logo {
  grid-area: logo;
}

.purpose {
  grid-area: purpose;
}

@media screen and (min-width: 1024px){
  .grid-container{
    display: grid;
    grid-template-areas: 
    "site-name site-name" 
    "logo purpose";
    gap: 1.5rem;
  }
  body{
    font-family: 'Lato', sans-serif;
    width:75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #83690044;
  }
  .nav-box {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link{
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    color: #000000;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'League Spartan', sans-serif;
  }
  .schema-box {
    display: flex; 
  }
  .color-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 2rem;
    height: 320px;
    width: 200px;
  }
  .info {
    flex: 3;
  }
}

@media screen and (max-width: 1023px){
   body{
    font-family: 'Lato', sans-serif;
    width:75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #83690044;
  }
  .grid-container{
    display: grid;
    grid-template-areas: 
    "site-name site-name" 
    "logo purpose";
    gap: 1.5rem;
  }
  .nav-box {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link{
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    color: #000000;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'League Spartan', sans-serif;
  }
  .schema-box {
    display: flex; 
  }
  .color-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 2rem;
    height: 320px;
    width: 148px;
  }
  .info {
    flex: 3;
  }
}

@media screen and (max-width: 428px) {
  .grid-container{
    display: grid;
    grid-template-areas: 
    "site-name" 
    "logo" 
    "purpose";
    gap: 1.5rem;
  }
  body{
    font-family: 'Lato', sans-serif;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #83690044;
  }
  img {
    width: 100%;
    height: auto;
  }
  .nav-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-link{
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    color: #000000;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
  }

  .schema-box {
    display: flex; 
    flex-direction: column;
  }

  .color-box {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 2rem;
    height: 124px;
    width: 100%;
  }
  .info {
    flex: 1.5;
  }
}

.center {
 display: flex;
 align-items: center;
 justify-content: center;
}

.footer-card {
  margin-top: 1rem;
  background-color: #463800;
}

.persona-box {
  display: flex;
}

.flex {
  flex: 1;
}

.row {
  display: flex;
  align-items: baseline;
}

.text-white {
  color: white;
}

.black {
  background-color: #000000;
}

.jonquil {
  background-color: #f5c500;
}

.bistre {
  background-color: #836900;
}

.saffron {
  background-color: #e5b800;
}

.olive {
  background-color: #463800;
}

.hex-text {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}