@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@700&family=Nunito:wght@600&display=swap');

body {
  margin: 0;
  background-color: #83690044;
  font-family: 'Lato', sans-serif;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #e5b800;
}


a.link{
  text-decoration: none;
  color: #f5c500;
  font-weight: bold;
}


img.hero-image {
  max-width: 100%;
  height: auto;
}

#nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a > img {
  height: 40px;
}

#links{
  display: flex;
}

#social-links > li{
  display: inline-block;
  margin-right: 0.5rem;
}

h1, h2, h3, h4{
  font-family: 'League Spartan', sans-serif;
  margin-left: 1rem;
}

h1.site-heading{
  text-align: center;
  border-bottom: solid 1px #FFFFFF55;
}

#today {
  text-align: center;
  padding: 0.5rem;
  background-color: #FFFFFF55;
  border: 1px solid #FFFFFF99;
  font-weight: bold;
}

#banner {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.1rem;
  text-align: center;
}

.page-links>li>a{
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding: .75rem;
  font-family: 'League Spartan', sans-serif;
}

.page-links>li>a:hover{
  display: flex;
  color: white;
  background-color: #463800;
  transform: scale(1.2);
  transition: ease-in-out;
}

.page-links > li{
  display: block;
  margin: 0.5rem;
}

.btn {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 24px;
  cursor:pointer;
}

.page-links > li > .active {
  display: flex;
  color: white;
  background-color: #000000;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.section{
  position: relative;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  height: auto;
  background-color: #46380055;
}

.grid-container {
  padding-top: 1rem;
  display: grid;
  grid-template-areas: 
  "hero"
  "event"
  "weather"
  "news"
  "spotlights";
  gap: 1rem;
}

.hero {
  grid-area: hero;
  background-image: url('../images/mombasacc.jpg');
  background-size: cover;
}

.event {
  grid-area: event;
}

.join {
  grid-area: join;
  display: none;
}

.weather {
  grid-area: weather;
  color: white;
}

.news {
  grid-area: news;
  background-color: #463800;
  color: white;
}

.spotlights{
  grid-area: spotlights;
  display: grid;
  grid-template-areas: "spot-1" "spot-2" "spot-3";
  padding: 1rem;
  background-color: #46380055;
}

.spot-1{
  grid-area: spot-1;
  height: 200px;
  background-color: #46380055;
  border: 1px solid #46380066;
}

.spot-2{
 grid-area: spot-2;
 height: 200px;
 background-color: #46380055;
 border: 1px solid #46380066;
}

.spot-3{
  grid-area: spot-3;
  display: none;
 }

 footer{
  background-color: #463800;
  color: white;
  padding-top: 1rem;
  margin-top: 1rem;
 }

.footer-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #FFFA;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}

#footer-logo > img{
  height: 48px;
}

.text-center {
  text-align: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.black {
  background-color: #000000;
}

.jonquil {
  background-color: #f5c500;
}

.bistre {
  background-color: #836900;
}

.saffron {
  background-color: #e5b800;
}

.olive {
  background-color: #463800;
}

.text-olive {
  color: #463800;
}

.text-white{
  color: #FFFFFF;
}

.bold {
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btn {
  background-color: #f5c500;
  color: black;
  font-family: 'Nunito', sans-serif;
  border-radius: 0.5rem;
  border: 1px solid #f5c500;
}

.row {
  display: flex;
}

.a-center{
  align-items: center;
}

.j-center{
  align-items: center;
}

/* discover styling */
.discover{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  box-shadow: 0px 0px 2rem #463800;
}

.description{
  display: flex;
  align-items: center;
  padding: 3rem;
}

.imgContainer{
  display: flex;
  align-items: center;
  transition-duration: 1s;
}

.imgContainer>img{
  width: 100%;
  box-shadow: 0px 0px 8px #463800;
}

.scale{
  opacity: 0.2;
  transform: scale(0.9);
}

#demography{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 4rem 0;
}

#demography>img{
  width: 100%;
  box-shadow: 0px 0px 8px #463800;
}

.join-grid{
  padding: 1rem;
}

#joinForm{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 4rem;
  border-radius: 1rem;
}

#joinForm>label>input{
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #FFF;
  background-color: #83690033;
  border-radius: 1rem;
}

#joinForm>label>input:focus{
  outline: none;
  border: 2px solid #463800;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #463800;
}

::placeholder {
  color: #463800aa;
}

#joinForm>label>select{
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #FFF;
  color: #463800;
  font-weight: bold;
  background-color: #83690033;
  border-radius: 1rem;
  outline: none;
}

#joinForm>label>textarea{
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #FFF;
  background-color: #83690033;
  border-radius: 1rem;
}

.flex-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#membership-banner{
  visibility: hidden;
  height: 1px;
  margin:0;
}

#m-level{
  font-size: 2rem;
  padding: 1rem;
  color: #463800;
  border-bottom: 2px solid #46380055;
  margin-bottom: 3rem;
}

#pricing{
  font-size: 3rem;
  font-weight: bolder;
  padding: 2rem;
  background-color:#463800;
  color: #FFF;
  border-radius: 4rem;
  margin-bottom: 2rem;
}

.benefit{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.check{
  font-size: 2rem;
  color: #463800;
}

.x{
  font-size: 2rem;
  color: #46380055;
}

#thankyou-box{
  padding: 2rem;
  font-weight: bolder;
  font-size: 3.5rem;
  color:#463800;
  border: 0.75rem solid #463800;
  width: 35%;
  margin: 4rem auto;
}

.thankyou-container{
  text-align: center;
  font-weight: bolder;
  color: #463800;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.thankyou-container p{
  font-size: 18px;
}

/* directory styling */
#switcher{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

#switcher>button{
  background-color: #46380000;
  border: 2px solid #463800;
  padding: .5rem;
  margin: 0.5rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
}

#switcher>button.btn-active{
  background-color: #46380044;
}

#switcher>button:hover{
  background-color: #46380044;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 97%;
  margin: auto;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 97%;
  margin: auto;
}

.list > .directory-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .25rem;
  border-top: 1px solid #463800;
}

.list > .directory-card > img {
  display: none;
}

.grid > .directory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #463800;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 16px #46380055;
}

.directory-card:hover {
  background-color: #46380022;
  color: #463800;
  font-weight: bold;
}

.directory-card>span{
  margin-top: 0.5rem;
}

.directory-card>a {
  text-decoration: none;
  font-weight: bold;
  color: #463800;
  border: 2px solid #463800;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.list>.directory-card>a{
  margin-top: 0;
}

.directory-card>a:hover {
  color: #FFF;
  background-color: #463800;
}

.directory-card>img{
  width: 80px;
  height: 80px;
}

/* contact page */
.contact-content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.display-text-1 {
  font-size: 2rem;
  color: #463800;
}

.display-text-2 {
  font-weight: bold;
}

#contact-box{
  padding: 3rem;
  background-color: #46380044;
  margin-bottom: 4rem;
}

#contact-info {
  margin-bottom: 2rem;
}

.divider{
  border: 1px solid #463800;
  width: 90%;
}

.mt {
  margin-top: 4rem;
}

#contact-left{
  background-color: #FFF;
  padding: 2rem;
}

#contactForm{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}