@media screen and (min-width: 1024px) {
    .grid-container {
      padding-top: 1rem;
      display: grid;
      grid-template-areas: 
      "event hero spotlights"
      "weather hero spotlights"
      "join news spotlights";
      gap: 1rem;
    }
    .spotlights{
      grid-area: spotlights;
      display: grid;
      grid-template-areas: "spot-1" "spot-2" "spot-3";
      padding: 1rem;
      background-color: #46380055;
      gap: 0px;
    }
    .hero{
      grid-area: hero;
      height: auto;
    }
    .join {
      grid-area: join;
      display: block;
    }
    .spot-3{
      display: block;
      grid-area: spot-3;
      height: 176px;
      background-color: #46380055;
      border: 1px solid #46380066;
      margin: 0px;
     }
  .row{
    display: flex;
  }
  .page-links{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.75rem;
  }
  .page-links > li{
    display: inline-block;
    margin: 0.5rem;
  }
  #toggle-box {
    display: none;
  }
  .footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
  }


  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* discover page stylings */
  .discover-container{
    width: 80%;
    margin: 0 auto;
  }

  .discover{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .description{
    display: flex;
    align-items: center;
  }
  .imgContainer:hover{
    transform: scale(1.2);
  }

  #demography>img{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0;
  }
}