@media screen and (min-width: 429px) and (max-width: 1023px){
  .grid-container {
    padding-top: 1rem;
    display: grid;
    grid-template-areas: 
    "hero hero"
    "news news"
    "spotlights spotlights"
    "join join"
    "event weather";
    gap: 1rem;
  }
  .spotlights{
    grid-area: spotlights;
    display: grid;
    grid-template-areas: "spot-1 spot-2";
    gap: 0.5rem;
    padding: 1rem;
    background-color: #46380055;
  }
  .join {
    grid-area: join;
    display: block;
  }
  .spot-3{
    grid-area: spot-3;
    display: none;
   }

  .footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
  }


  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .imgContainer:hover{
    transform: scale(1.2);
  }

  /* directory page styling */
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* contact page */
  .display-text-1 {
    font-size: 3rem;
    color: #463800;
  }
  
  .display-text-2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .contact-content{
    grid-template-columns: 1fr;
  }

  #contact-box{
    margin-right: 2rem;
  }

  #contact-left{
    background-color: #FFF;
    padding: 4rem;
    margin-left: 2rem;
    margin-top: -6rem;
    width: 80%;
  }
}
